#restaurant-name {
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 15px #ff0000;
}

body {
    margin: 50;
    font-family: monospace;
    display: grid;
    grid-gap: 1em;
  }

  button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }

  
button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  .menu-item {
    justify-self: center;
    height: 10rem;
    width: auto;
    margin: 30px;
    display: grid;
    grid-template-columns: 50%;
  }

  #menu-list {
    border: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  #order-list {
    height: auto;
    width: 50%;
    margin: 5px;
    border: 10px  solid black;
    background-color: #e0a44b;
    padding: 20px;
  }
